{% set quick_links_first_block %}
	<!-- EVENT navbar_header_quick_links_before -->

	<!-- IF S_DISPLAY_SEARCH -->
		<li class="separator"></li>
		<!-- IF S_REGISTERED_USER -->
			<li class="small-icon icon-search-self"><a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a></li>
		<!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->
			<li class="small-icon icon-search-new"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li>
		<!-- ENDIF -->
		<!-- IF S_LOAD_UNREADS -->
			<li class="small-icon icon-search-unread"><a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a></li>
		<!-- ENDIF -->
		<li class="small-icon icon-search-unanswered"><a href="{U_SEARCH_UNANSWERED}" role="menuitem">{L_SEARCH_UNANSWERED}</a></li>
		<li class="small-icon icon-search-active"><a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a></li>
		<li class="separator"></li>
		<li class="small-icon icon-search"><a href="{U_SEARCH}" role="menuitem">{L_SEARCH}</a></li>
	<!-- ENDIF -->
{% endset %}

{% set quick_links_last_block %}
	<!-- EVENT navbar_header_quick_links_after -->
{% endset %}

{% set quick_links_all %}{{ quick_links_first_block|trim }}{{ quick_links_last_block|trim }}{% endset %}

<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="<!-- IF $NAV_SECTION -->{$NAV_SECTION}<!-- ELSE -->{SCRIPT_NAME}<!-- ENDIF -->">
			<ul class="leftside">
				<li id="quick-links" class="tab responsive-menu dropdown-container{% if quick_links_all == '' %} empty{% endif %}">
					<a href="#" class="nav-link dropdown-trigger">{L_QUICK_LINKS}</a>
					<div class="dropdown hidden">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
							{{ quick_links_first_block }}
							{% if quick_links_last_block|trim %}
								<li class="separator"></li>
								{{ quick_links_last_block }}
							{% endif %}
						</ul>
					</div>
				</li>
				<!-- EVENT navtabs_left_before -->
				<!-- IF U_SITE_HOME -->
					<li class="tab home" data-responsive-class="small-icon icon-home">
						<a class="nav-link" href="{U_SITE_HOME}" data-navbar-reference="home">{L_SITE_HOME}</a>
					</li>
				<!-- ENDIF -->
				<li class="tab forums selected" data-responsive-class="small-icon icon-forums">
					<a class="nav-link" href="{U_INDEX}">{L_FORUMS}</a>
				</li>
				<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
					<li class="tab members dropdown-container" data-select-match="member" data-responsive-class="small-icon icon-members">
						<a class="nav-link dropdown-trigger" href="{U_MEMBERLIST}">{L_MEMBERLIST}</a>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents" role="menu">
								<!-- IF S_DISPLAY_MEMBERLIST --><li class="small-icon icon-members"><a href="{U_MEMBERLIST}" role="menuitem">{L_MEMBERLIST}</a></li><!-- ENDIF -->
								<!-- IF U_TEAM --><li class="small-icon icon-team"><a href="{U_TEAM}" role="menuitem">{L_THE_TEAM}</a></li><!-- ENDIF -->
							</ul>
						</div>
					</li>
				<!-- ENDIF -->
				<!-- EVENT navtabs_left_after -->
			</ul>
			<ul class="rightside">
				<!-- EVENT overall_header_navigation_prepend -->
				<li class="tab faq" data-select-match="faq" data-responsive-class="small-icon icon-faq">
					<a class="nav-link" href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">{L_FAQ}</a>
				</li>
				<!-- EVENT overall_header_navigation_append -->
				<!-- IF U_ACP --><li class="tab acp" data-last-responsive="true" data-responsive-class="small-icon icon-acp"><a class="nav-link" href="{U_ACP}" title="{L_ACP}" role="menuitem">{L_ACP_SHORT}</a></li><!-- ENDIF -->
				<!-- IF U_MCP -->
					<li class="tab mcp" data-last-responsive="true" data-select-match="mcp" data-responsive-class="small-icon icon-mcp">
						<a class="nav-link" href="{U_MCP}" title="{L_MCP}" role="menuitem">{L_MCP_SHORT}</a>
					</li>
				<!-- ENDIF -->
				<!-- IF S_REGISTERED_USER -->
					<li id="username_logged_in" class="tab account dropdown-container" data-skip-responsive="true" data-select-match="ucp">
						<a href="{U_PROFILE}" class="nav-link dropdown-trigger">{CURRENT_USERNAME_SIMPLE}</a>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents" role="menu">
								<!-- IF U_RESTORE_PERMISSIONS --><li class="small-icon icon-restore-permissions"><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
			
								<!-- EVENT navbar_header_profile_list_before -->
			
								<li class="small-icon icon-ucp"><a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">{L_PROFILE}</a></li>
								<li class="small-icon icon-profile"><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">{L_READ_PROFILE}</a></li>
			
								<!-- EVENT navbar_header_profile_list_after -->
			
								<li class="separator"></li>
								<li class="small-icon icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
							</ul>
						</div>
					</li>
					<!-- IF S_DISPLAY_PM -->
						<li class="tab pm<!-- IF PRIVATE_MESSAGE_COUNT > 0 --> non-zero<!-- ENDIF -->" data-skip-responsive="true" data-select-match="pm">
							<a class="nav-link" href="{U_PRIVATEMSGS}" role="menuitem">{L_PRIVATE_MESSAGES}</a>
							<strong>
								<span class="counter">{PRIVATE_MESSAGE_COUNT}</span>
								<span class="arrow"></span>
							</strong>
						</li>
					<!-- ENDIF -->
					<!-- IF S_NOTIFICATIONS_DISPLAY -->
						<li class="tab notifications dropdown-container<!-- IF NOTIFICATIONS_COUNT > 0 --> non-zero<!-- ENDIF -->" data-skip-responsive="true" data-select-match="notifications">
							<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="nav-link dropdown-trigger">{L_NOTIFICATIONS}</a>
							<strong>
								<span class="counter">{NOTIFICATIONS_COUNT}</span>
								<span class="arrow"></span>
							</strong>
							<!-- INCLUDE notification_dropdown.html -->
						</li>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF S_REGISTERED_USER -->
					<li class="tab logout"  data-skip-responsive="true"><a class="nav-link" href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
				<!-- ELSE -->
					<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
					<!-- IF S_REGISTER_ENABLED -->
						<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="{U_REGISTER}" role="menuitem">{L_REGISTER}</a></li>
					<!-- ENDIF -->
					<!-- EVENT navbar_header_logged_out_content -->
				<!-- ENDIF -->
			</ul>
		</div>
	</div>
</div>

<div class="navbar secondary{% if definition.SEARCH_IN_NAVBAR == 1 && definition.SEARCH_BOX %} with-search{% endif %}">
	<ul role="menubar">
		{% set secondary_links %}
		<!-- EVENT secondary_navlinks_before -->
		{% if definition.NAVLINKS|trim %}
			{{ definition.NAVLINKS }}
		{% endif %}
		{% if !definition.NAVLINKS|trim || definition.NAVLINKS_SHOW_DEFAULT == 1 %}
			<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT --><li class="small-icon icon-<!-- IF S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-last-responsive="true"><a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="small-icon icon-<!-- IF not S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
		{% endif %}
		<!-- EVENT secondary_navlinks_after -->
		{% endset %}
		{% if secondary_links|trim %}
			{{ secondary_links }}
			<!-- IF $NAVLINKS_SHOW_DEFAULT && S_DISPLAY_SEARCH -->
				<li class="small-icon icon-search{% if definition.SEARCH_IN_NAVBAR == 1 && definition.SEARCH_BOX %} responsive-hide{% endif %}"><a href="{U_SEARCH}">{L_SEARCH}</a></li>
				<!-- IF S_USER_LOGGED_IN -->
					<li class="small-icon icon-new-posts"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li>
				<!-- ENDIF -->
			<!-- ENDIF -->
		{% else %}
			<!-- IF S_DISPLAY_SEARCH -->
				<li class="small-icon icon-search{% if definition.SEARCH_IN_NAVBAR == 1 && definition.SEARCH_BOX %} responsive-hide{% endif %}"><a href="{U_SEARCH}">{L_SEARCH}</a></li>
				<!-- IF S_USER_LOGGED_IN -->
					<li class="small-icon icon-new-posts"><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a></li>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF not S_REGISTERED_USER -->
				<li class="small-icon icon-login"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
				<!-- IF S_REGISTER_ENABLED -->
					<li class="small-icon icon-register"><a href="{U_REGISTER}">{L_REGISTER}</a></li>
				<!-- ENDIF -->
			<!-- ELSEIF not S_DISPLAY_SEARCH -->
				<li><a href="{U_PROFILE}" class="small-icon icon-profile">{CURRENT_USERNAME_SIMPLE}</a></li>
			<!-- ENDIF -->
		{% endif %}

		{% if definition.SEARCH_IN_NAVBAR == 1 && definition.SEARCH_BOX %}
			<li class="search-box not-responsive">{$SEARCH_BOX}</li>
		{% endif %}
	</ul>
</div>

<!-- DEFINE $BREADCRUMBS -->
<div class="navbar nav-breadcrumbs">
	<ul id="nav-breadcrumbs" class="linklist navlinks" role="menubar">
		<!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
		<!-- EVENT overall_header_breadcrumbs_before -->
		<li class="small-icon icon-home breadcrumbs">
			<!-- IF U_SITE_HOME --><span class="crumb" style="display: none;"><a href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home" itemprop="url"><span itemprop="title">{L_SITE_HOME}</span></a></span><!-- ENDIF -->
			<!-- EVENT overall_header_breadcrumb_prepend -->
			<span class="crumb"{$MICRODATA}><a href="{U_INDEX}" accesskey="h" data-navbar-reference="index" itemprop="url"><span itemprop="title">{L_INDEX}</span></a></span>
			<!-- BEGIN navlinks -->
				<!-- EVENT overall_header_navlink_prepend -->
				<span class="crumb"{$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><a href="{navlinks.U_VIEW_FORUM}" itemprop="url"><span itemprop="title">{navlinks.FORUM_NAME}</span></a></span>
				<!-- EVENT overall_header_navlink_append -->
			<!-- END navlinks -->
			<!-- EVENT overall_header_breadcrumb_append -->
		</li>
		<!-- EVENT overall_header_breadcrumbs_after -->

		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<li class="rightside responsive-search" style="display: none;"><a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}" role="menuitem">{L_SEARCH}</a></li>
		<!-- ENDIF -->
		<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="{CURRENT_TIME}"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>{CURRENT_TIME}</li>
					<li>{S_TIMEZONE}</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<!-- ENDDEFINE -->
<!-- IF $WRAP_HEADER != 0 -->
	{$BREADCRUMBS}
	<!-- DEFINE $BREADCRUMBS = '' -->
<!-- ENDIF -->