// Configuration file
$show-logo:								true;	// true or false
$center-logo:							false;	// true or false
$logo-block-padding:					10px 0;
$responsive-hide-logo:					false;	// Hide logo on mobile devices. true or false

$show-forum-title:						false;	// true or false

$profile-width:							150px;
$profile-side:							left;	// left or right
$post-margin:							($profile-width + 10px);

$use-wrapper:							false;	// true or false
$max-width:								none;	// Maximum width. Set to "none" to make layout fluid

$split-forums:							false;	// Changes layout of forums list. Values are true or false

$tabbed-navigation:						false;	// true or false. Toggles tabbed navigation layout

//
// Fonts
//

$font-size:								11px;	// Base font size
$font-family:							Verdana, Helvetica, Arial, sans-serif;	// Default font
$line-height:							1.4;	// Line height

$h1-font-size:							$font-size + 10px;
$h1-font-family:						"Trebuchet MS", Arial, Helvetica, sans-serif;

$h2-font-size:							$font-size + 8px;
$h2-font-family:						"Droid Sans","Open Sans","Trebuchet MS",Helvetica,Arial,sans-serif;

$paragraph-line-height:					1.3;

$nav-primary-font-size:					$font-size + 2px;
$nav-secondary-font-size:				$font-size + 1px;

$heading-font-size:						$font-size + 4px;
$panel-heading-font-size:				$font-size + 6px;

$list-heading-font-size:				$font-size + 1px;
$list-heading-line-height:				$font-size + 7px;
$list-heading-font-family:				"Droid Sans","Open Sans","Trebuchet MS",Helvetica,Arial,sans-serif;

$forum-heading-font-size:				$list-heading-font-size + 2px;
$forum-heading-font-family:				$list-heading-font-family;
$forum-heading-font-weight:				500;

$button-font-size:						$font-size + 3px;
$button-line-height:					floor(($font-size + 8px) / 2) * 2;	// Convert to even number
$button-glyph-font-size:				floor($font-size / 2) * 2;	// Convert to even number

$dropdown-header-font-size:				$font-size + 2px;
$dropdown-header-font-family:			Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
$dropdown-header-line-height:			30px;

$forum-link-font-size:					$font-size + 5px;
$forum-link-line-height:				1.2;
$forum-link-font-family:				"Droid Sans","Open Sans","Trebuchet MS",Helvetica,Arial,sans-serif;

$forum-list-column-font-size:			$font-size + 1px;
$forum-list-last-column-font-size:		$font-size;
$forum-list-description-font-size:		$font-size + 2px;

$topic-link-font-size:					$font-size + 4px;
$topic-link-font-family:				$forum-link-font-family;

$tab-font-size:							$font-size;
$tab-line-height:						$tab-font-size * 2 + 4px;

// Posts
$post-content-font-size:				$font-size + 2px;	// Post content
$post-content-line-height:				1.4;
$post-content-font-family:				"Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;

$post-title-font-size:					$font-size + 5px;
$post-title-line-height:				1.25;
$post-title-font-family:				$h2-font-family;

$post-signature-font-size:				$font-size + 1px;
$post-quote-font-size:					$post-content-font-size - 1px;
$post-code-font-size:					$post-content-font-size - 1px;

$post-block-title-font-size:			$post-quote-font-size;	// Quote title, code title
$post-block-title-line-height:			1.6;
$post-block-title-font-family:			$post-content-font-family;

$post-profile-font-size:				$font-size;
$post-profile-line-height:				$line-height;

// Forms
$input-button-font-size:				$font-size + 2px;
$input-button-font-family:				"Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
$bbcode-button-font-size:				$font-size + 1px;

//
// Color palette
//

// Absolute black and white colors. Reverse them for dark styles
$black-color:							#fff;		// Main color to mix with. Black for light styles, white for dark styles
$white-color:							#000;		// Opposite of $black-color

// Page colors
$page-background:						#1a1f26;	// HTML element
$content-background:					#1c232e;	// Page inside content wrapper
$content-border-color:					#1c232e;	// Border color for content wrapper

// Primary colors
$primary-color:							#174c97;	// Main color, used for links and stuff
$primary-darker-color:					#2c415f;
$primary-lighter-color:					#6593d6;
$primary-lightest-color:				#f1f6fc;
$secondary-color:						#c35824;	// Secondary color, usually in red - yellow range
$overlay-color:							$white-color;	// Text on top of sections that use colorful background.
$block-background:						#252b33;	// Background of blocks
$block-background-reported:				#362a25;	// Background for reported posts

// Global color values
$text-color:							#aaa;	// Text color
$bold-text-color:						$black-color;	// Text color with higher contrast to background. #000 or #fff
$post-text-color:						$text-color;	// Text inside posts
$link-color:							#6593d6;	// Links
$link-hover-color:						$secondary-color;	// Links, hover state
$muted-color:							mix($black-color, $content-background, 60%);	// Gray color
$faint-color:							mix($black-color, $content-background, 30%);	// Gray color
$rules-color:							lighten(saturate($secondary-color, 20%), 10%);	// Forum rules

//
// Calculated colors
//

// Misc. DO NOT EDIT!
$light:									if(lightness($black-color) < 50%, true, false);

// Blocks
$block-background2:						#272f3e;	// Blocks with .bg2 background color
$block-background3:						#2a3449;	// Blocks with .bg3 background color - mostly UCP/MCP and posting form

$block-border:							#2d3745;	// Border color for blocks
$border-radius:							0px;		// Main border radius
$block-top-border:						lighten($block-background, 4%);	// Top border of forums in forums list
$block-bottom-border:					darken($block-background, 6%);		// Bottom border of forums in forums list
$block-inner-border:					darken($block-background, 3%);	// Border inside blocks where there is only 1 border instead of top/bottom borders

$block-title-color:						desaturate($link-color, 5%);	// Title inside blocks, such as post title

// Tabs
$tab-color:								#fff;
$tab-background:						darken($primary-darker-color, 5%);

$tab-hover-color:						#fff;
$tab-hover-background:					$secondary-color;

$tab-selected-color:					#fff;
$tab-selected-background:				$primary-darker-color;

// Header
$header-bg:								$content-background;
$header-text:							$text-color;
$header-link:							$overlay-color;
$header-link-hover:						mix($header-link, $header-bg, 80%);

// Primary navigation
$primary-nav-bg:						$block-background;
$primary-nav-color:						$link-color;
$primary-nav-shadow:					0 5px 5px -5px rgba(0, 0, 0, 0.2), 1px 1px 0 $block-top-border inset, -1px -1px 0 $block-bottom-border inset;

$primary-nav-selected-bg:				$primary-darker-color;
$primary-nav-selected-color:			$bold-text-color;

$primary-nav-hover-bg:					$secondary-color;
$primary-nav-hover-color:				$bold-text-color;

$primary-nav-alert-bg:					hsl(0, saturation($secondary-color), lightness($secondary-color));
$primary-nav-alert-color:				#fff;
$primary-nav-alert-shadow:				1px 1px 3px rgba(0, 0, 0, .2);

// Secondary navigation
$secondary-nav-hover-link:				$link-hover-color;

// Dropdown
$dropdown-bg:							$block-background;
$dropdown-border:						$primary-darker-color;
$dropdown-shadow:						1px 3px 5px rgba(0, 0, 0, 0.5);
$dropdown-shadow-up:					1px 0 5px rgba(0, 0, 0, 0.5);
$dropdown-inner-border:					if($light, darken($dropdown-bg, 10%), lighten($dropdown-bg, 10%));

$dropdown-heading-top:					$dropdown-border;
$dropdown-heading-bottom:				$dropdown-heading-top;
$dropdown-heading-color:				$overlay-color;
$dropdown-heading-link-color:			$overlay-color;
$dropdown-heading-link-hover-color:		$overlay-color;

$forum-description-color:				#fff;
$forum-description-bg:					darken(desaturate($primary-color, 20%), 5%);
$forum-description-gradient-start:		rgba(255, 255, 255, .1);
$forum-description-gradient-end:		rgba(255, 255, 255, 0);

// Notifications
$notification-unread-bg:				desaturate(hsl(hue($secondary-color), saturation($content-background), lightness($content-background)), 10%);
$notification-unread-color:				$secondary-color;
$notification-unread-strong-color:		#fff;

$dropdown-notification-bg:				$block-background;
$dropdown-notification-hover-bg:		$block-background2;
$dropdown-notification-color:			$link-color;
$dropdown-notification-strong-color:	#fff;

// Panels
$panel-title-color:						desaturate(if($light, darken($primary-color, 10%), lighten($primary-color, 10%)), 25%);
$panel-title-border:					$block-inner-border;

// Content outside of blocks
$page-title-color:						$primary-lighter-color;
$stats-title-color:						desaturate(if($light, darken($primary-color, 10%), lighten($primary-color, 10%)), 25%);
$content-top-border:					lighten($content-background, 10%);
$content-bottom-border:					darken($content-background, 10%);
$content-inner-border:					$content-bottom-border;

// Heading section
$heading-bg:							$primary-darker-color;
$heading-border:						$heading-bg;
$heading-color:							$primary-lightest-color;
$heading-link:							$heading-color;
$heading-link-hover:					#fff;

// Inputs
$input-text:							#999;	// Input text color
$input-bg:								#222427;	// Input background
$input-border:							#30343a;	// Input border color
$input-hover-text:						#aaa;
$input-hover-bg:						#1c1e20;
$input-hover-border:					#3c4149;
$input-focus-text:						#fff;
$input-focus-bg:						#1c1e20;
$input-focus-border:					#3c4149;
$input-border-radius:					0px;

$search-box-border:						$block-top-border $block-bottom-border $block-bottom-border $block-top-border;	// Border for search box block
$search-box-shadow:						0 0 10px rgba(0, 0, 0, .15), 1px 1px 0 $block-bottom-border;	// Box-shadow for search box in header

// Buttons
$button-bg:								$primary-color;
$button-border-radius:					3px;
$button-border:							$button-bg;
$button-main-bg:						darken(desaturate($secondary-color, 10%), 10%);
$button-main-border:					$button-main-bg;
$button-icon:							#fff;
$button-icon-hover:						#fff;
$button-text:							#fff;

$button-top-padding:					2px;
$button-side-padding:					8px;
$button-border-width:					1px;
$button-height:							$button-line-height + ($button-top-padding + $button-border-width) * 2;

$big-button-border-radius:				2px;	// For big buttons and blocks like quick search

// BBCode
$bbcode-border-radius:					0px;
$bbcode-background:						lighten($block-background, 4%);
$bbcode-background2:					lighten($block-background, 2%);
$bbcode-outer-border:					transparent;
$bbcode-inner-border:					$block-background;
$bbcode-heading-text:					$primary-lighter-color;

// Code colors
@function code-color($hue) {
	@return hsl($hue, saturation($primary-lighter-color), lightness($primary-lighter-color));
}
$bbcode-code-color:						code-color(128deg);

// Do not edit few lines below
$post-side:								if($profile-side == left, right, left);

// Mixins
@mixin section {
	background: $block-background;
	border: 1px solid transparent;
	border-color: $block-top-border $block-bottom-border $block-bottom-border $block-top-border;
	border-radius: $border-radius;
	padding: 4px 9px;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

@mixin section-forum {
	@include section;
	padding: 4px;
}

// Undo section mixin
@mixin section-empty {
	background: transparent;
	border-width: 0;
	border-radius: 0;
	box-shadow: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	padding: 0;
}

// Heading block
@mixin section-heading {
	margin: -5px -10px 5px;
	border-radius: max(0, $border-radius - 1px);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: $heading-bg url("./images/heading.png") 100% 0 repeat-y;
	.rtl & {
		background-image: url("./images/heading_rtl.png");
		background-position: 0 0;
	}
	border: 0 solid $heading-border;
	padding: 5px;
	text-transform: none;
	font-size: $heading-font-size;
	line-height: $line-height;
	font-weight: normal;
	color: $heading-color;

	@if $border-radius > 1px {
		@media (max-width: 700px) {
			border-radius: 0;
		}
	}

	a {
		color: $heading-link;
		&:hover {
			color: $heading-link-hover;
		}
	}
}

@mixin section-heading-forum {
	@include section-heading;
	@if $split-forums == false {
		margin: -5px -5px 0;
	}
	@else {
		@include section-heading-separate;
		margin: 0;
	}
}

@mixin section-heading-separate {
	border-radius: max(0, $border-radius - 1px);
}

@mixin section-heading-cp {
	background-color: transparent;
	color: $stats-title-color;
	box-shadow: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	a {
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}

@mixin table-heading {
	background: $heading-bg;
	border: 0 solid $heading-border;
	color: $heading-color;

	@if $border-radius > 1px {
		&:first-child {
			border-top-left-radius: max(0, $border-radius - 1px);
		}
		&:last-child {
			border-top-right-radius: max(0, $border-radius - 1px);
		}
	}
}

@mixin table-heading-transparent {
	background: transparent;
	color: inherit;
}

@mixin placeholder {
	&::-moz-placeholder {
		@content 
	}
	&::-webkit-input-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

@mixin tabbed-nav-layout-all {
	@if ($use-wrapper) {
		&, #wrap & {
			@content;
		}
	}
	@else {
		@content;
	}
}

@mixin tabbed-nav-layout-alt {
	@if ($use-wrapper) {
		@content;
	}
}

@mixin tabbed-nav-layout-default {
	@if ($use-wrapper) {
		#wrap & {
			@content;
		}
	}
	@else {
		@content;
	}
}
