// Configuration file
$show-logo:								1;	// 0 or 1
$show-forum-title:						0;	// 0 or 1
$center-logo:							1;	// 0 or 1
$logo-width:							140px;
$logo-block-padding:					10px 0;

$profile-width:							150px;
$post-margin:							($profile-width + 10px);

// Page
$page-background:						#F5F7FA;
$content-background:					#FFF;

// Primary color
$primary-color:							#12a3eb;
$secondary-color:						#d31141;
$overlay-color:							#fff;

// Global color values
$text-color:							#536482;
$bold-text-color:						#000;
$link-color:							#105289;
$link-hover-color:						#D31141;

// Blocks
$block-background:						#ecf3f7;
$block-background2:						#e1ebf2;
$block-background3:						darken($block-background, 10%);

$block-background-reported:				#F7ECEF;
$block-border:							$block-background;
$border-radius:							6px;
$block-top-border:						lighten($block-background, 10%);
$block-bottom-border:					darken($block-background, 10%);
$block-inner-border:					$block-bottom-border;

$block-title-color:						desaturate($link-color, 20%);

// Tabs
$tab-color:								desaturate($link-color, 20%);
$tab-background:						$block-background2;

$tab-hover-color:						$tab-color;
$tab-hover-background:					$block-background3;

$tab-selected-color:					#333;
$tab-selected-background:				$block-background3;

// Header
$header-bg:								$content-background;
$header-text:							$text-color;
$header-link:							$overlay-color;
$header-link-hover:						mix($header-link, $header-bg, 80%);

// Primary navigation
$primary-nav-bg:						darken($primary-color, 10%);
$primary-nav-gradient-start:			rgba(255, 255, 255, .25);
$primary-nav-gradient-end:				rgba(255, 255, 255, 0);
$primary-nav-color:						$overlay-color;

$primary-nav-selected-bg:				$content-background;
$primary-nav-selected-gradient-start:	rgba(255, 255, 255, .5);
$primary-nav-selected-gradient-end:		rgba(255, 255, 255, 0);
$primary-nav-selected-color:			darken($primary-color, 10%);

$primary-nav-hover-bg:					$content-background;
$primary-nav-hover-gradient-start:		rgba(255, 255, 255, .5);
$primary-nav-hover-gradient-end:		rgba(255, 255, 255, 0);
$primary-nav-hover-color:				darken($secondary-color, 5%);

// Secondary navigation
$secondary-nav-hover-bg:				$secondary-color;
$secondary-nav-hover-link:				$overlay-color;

// Dropdown
$dropdown-bg:							#fff;

// Content outside of blocks
$page-title-color:						$primary-color;
$stats-title-color:						desaturate($primary-color, 25%);
$content-top-border:					lighten($content-background, 10%);
$content-bottom-border:					darken($content-background, 10%);
$content-inner-border:					$content-bottom-border;

// Heading section
$heading-bg:							darken($primary-color, 10%);
$heading-border:						$heading-bg;
$heading-color:							$overlay-color;
$heading-link:							$overlay-color;
$heading-link-hover:					mix($heading-link, $heading-bg, 80%);



// Mixins
@mixin section {
	background: $block-background;
	border: 0 solid $block-border;
	border-radius: $border-radius;
	padding: 5px 10px;
}

@mixin section-forum {
	@include section;
	padding: 5px;
}

// Undo section mixin
@mixin section-empty {
	background: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
}

// Heading block
@mixin section-heading {
	margin: -5px -10px 5px;
	border-radius: max(0, $border-radius - 1px);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: $heading-bg;
	border: 0 solid $heading-border;
	padding: 5px;
	text-transform: none;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: $heading-color;

	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30FFFFFF, endColorstr=#00FFFFFF);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);

	@if $border-radius > 1px {
		@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
			border-radius: 0;
		}
	}

	a {
		color: $heading-link;
		&:hover {
			color: $heading-link-hover;
		}
	}
}

@mixin section-heading-forum {
	@include section-heading;
	margin: -5px -5px 0;
}

@mixin section-heading-separate {
	border-radius: max(0, $border-radius - 1px);
}

@mixin section-heading-cp {
	background-color: transparent;
	color: $stats-title-color;
	box-shadow: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@mixin table-heading {
	background: $heading-bg;
	border: 0 solid $heading-border;
	color: $heading-color;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30FFFFFF, endColorstr=#00FFFFFF);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);

	@if $border-radius > 1px {
		&:first-child {
			border-top-left-radius: max(0, $border-radius - 1px);
		}
		&:last-child {
			border-top-right-radius: max(0, $border-radius - 1px);
		}
	}
}

@mixin table-heading-transparent {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: none;
	color: inherit;
}
