/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #536482;
	background-color: #F5F7FA;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #28313F;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #115098;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus,
.search-box .button:hover {
	border-color: #C7C3BF;
}

.search-header {
	box-shadow: 0 0 10px #0075B0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
#wrap {
	background-color: #FFF;
	border-color: #E6E9ED;
}

.headerbar {
	background-color: #12A3EB;
	background-image: -webkit-linear-gradient(top, #6aceff 0, #0076b1 1px, #0583c2 30px, #0c95d9 60px, #12a3eb 90px);
	background-image: linear-gradient(to bottom, #6aceff 0, #0076b1 1px, #0583c2 30px, #0c95d9 60px, #12a3eb 90px);
	color: #FFFFFF;
}

.navbar {
	background-color: #cadceb;
}

.forabg {
	background-color: #0076b1;
	background-image: -webkit-linear-gradient(top, #6aceff 0, #12a3eb 1px, #088acb 30px, #037fbc 60px, #0076b1 90px);
	background-image: linear-gradient(to bottom, #6aceff 0, #12a3eb 1px, #088acb 30px, #037fbc 60px, #0076b1 90px);
}

.forumbg {
	background-color: #12A3EB;
	background-image: -webkit-linear-gradient(top, #6aceff 0, #0076b1 1px, #0583c2 30px, #0c95d9 60px, #12a3eb 90px);
	background-image: linear-gradient(to bottom, #6aceff 0, #0076b1 1px, #0583c2 30px, #0c95d9 60px, #12a3eb 90px);
}

.panel {
	background-color: #ECF1F3;
	color: #28313F;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1 {
	background-color: #ECF3F7;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #ECF3F7;
}

.bg2 {
	background-color: #e1ebf2;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #e1ebf2;
}

.bg3	{ background-color: #cadceb; }

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

table.table1 td {
	color: #536482;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #536482;
}

.sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color:	#000000;
}

.pagination li.active span {
	color: #FFFFFF;
	background-color: #4692BF;
	border-color: #4692BF;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	border-color: #368AD2;
	background-color: #368AD2;
	color: #FFFFFF;
}

.pagination li.page-jump a:after {
	color: #5C758C;
}

.pagination li.page-jump a:hover:after {
	color: #d31141;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

// Blank FontAwesome replacement
%post-notice {
	font-family: FontAwesome;
}

p.post-notice.deleted:before {
	@extend %post-notice;
	content: '\f057';
	color: #D31141;
}

p.post-notice.unapproved:before {
	@extend %post-notice;
	content: '\f059';
	color: #D31141;
}

p.post-notice.reported:before, p.post-notice.error:before {
	@extend %post-notice;
	content: '\f071';
	color: #D31141;
}

// Topic status
.topic-status.sticky {
	color: #999;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #105289; }
a:hover	{ color: #D31141; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	color: #368AD2;
	border-bottom-color: #368AD2;
}

.postlink:visited {
	color: #5D8FBD;
	border-bottom-color: #5D8FBD;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
a.top, a.top2 {
	color: #888;
	&:hover {
		color: #d31141;
	}
}

/* Arrow links  */
a.arrow-left:hover {
	color: #368AD2;
}

a.arrow-right:hover {
	color: #368AD2;
}

a.feed-icon-forum:after {
	color: #aaa;
}

a.feed-icon-forum:hover:after {
	color: #D31141;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #eef5f9;
	background-image: -webkit-linear-gradient(to bottom, #d2e0eb 0, #eef5f9 200px);
	background-image: linear-gradient(to bottom, #d2e0eb 0, #eef5f9 200px);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d2e0eb', EndColorStr='#eef5f9')";
}

ul.topiclist li {
	color: #4C5D77;
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("./images/subforum_read.gif");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("./images/subforum_unread.gif");
}

li.row {
	border-top-color:  #FFFFFF;
	border-bottom-color: #00608F;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #F6F4D0;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2, .panel h2 {
	color: #115098;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EBEADD;
	border-color:#DBDBCE;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #FFFFFF;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #C7C3BF;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: linear-gradient(to bottom, #FFFFFF, #E9E9E9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9')";
	box-shadow: 0 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
	color: #D31141;
}

.dropdown-select {
	color: #536482;
}

.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select {
	border-color: #0a8ed0;
	background-image: -moz-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -o-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: linear-gradient(to bottom, #E9E9E9, #FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E9E9E9', EndColorStr='#FFFFFF')";
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}

.dropdown-select:after	{ border-color: #DADADA; }
.dropdown-select:hover	{ border-color: #C7C3BF; }

.dropdown-visible .dropdown-select, .dropdown-visible .dropdown-select:hover, .nojs .dropdown-container:hover .dropdown-select {
	border-color: #A6B2BA;
	color: #105289;
}

.contact-icons a		{ border-color: #DCDCDC; }

/* Icon images
---------------------------------------- */
%icon-image {
	position: relative;
	background-image: none;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		height: 14px;
		margin-top: -7px;
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
		color: #105289;
	}
	&:hover:after {
		color: #d31141;
	}
	&.small-icon:after {
		width: 18px;
		text-align: center;
	}
}

%icon-image-fa {
	@extend %icon-image;
	&:after {
		font-family: FontAwesome;
	}
}

%icon-image-gi {
	@extend %icon-image;
	&:after {
		font-family: 'Glyphicons Regular', 'Glyphicons';
	}
}

%icon-search-new {
	@extend %icon-image-gi;
	&:after {
		content: '\E028';
		color: #d31141;
	}
}

%icon-search-old {
	@extend %icon-image-gi;
	&:after {
		content: '\E028';
	}
}

%icon-search-misc {
	@extend %icon-image-gi;
	&:after {
		content: '\E028';
		color: #aaa;
	}
}

.icon-acp {
	@extend %icon-image-gi;
	&:after {
		content: '\E271';
	}
}
.icon-bookmark {
	@extend %icon-image-gi;
	&:after {
		content: '\E073';
	}
}
.icon-bump {
	@extend %icon-image-fa;
	&:after {
		content: '\f079';
	}
}
.icon-contact {
	@extend %icon-image-fa;
	&:after {
		content: '\f0e0';
	}
}
.icon-delete-cookies {
	@extend %icon-image-fa;
	&:after {
		content: '\f014';
	}
}
.icon-download {
	@extend %icon-image-fa;
	&:after {
		content: '\f019';
	}
}
.icon-faq {
	@extend %icon-image-gi;
	&:after {
		content: '\E195';
	}
}
.icon-home {
	@extend %icon-image-gi;
	&:after {
		content: '\E021';
	}
	&.breadcrumbs:after {
		text-align: left;
	}
}
.icon-logout {
	@extend %icon-image-fa;
	&:after {
		content: '\f08b';
	}
}
.icon-mark {
	@extend %icon-image-gi;
	&:after {
		content: '\E153';
	}
}
.icon-mcp {
	@extend %icon-image-fa;
	&:after {
		content: '\f0e3';
	}
}
.icon-members {
	@extend %icon-image-fa;
	&:after {
		content: '\f007';
	}
	&:before {
		@extend .icon-members:after;
		display: block;
		font-size: 10px;
		padding: 0;
		padding-left: 4px;
		padding-top: 1px;
		opacity: .7;
	}
}
ul.linklist.bulletin > li.small-icon.icon-members:before { @extend .icon-members:before; }
.icon-notification {
	@extend %icon-image-fa;
	&:after {
		content: '\f0a2';
	}
	&.non-zero:after {
		content: '\f0f3';
		color: #d31141;
	}
}
.icon-pages {
	@extend %icon-image-fa;
	&:after {
		content: '\f0c5';
	}
}
.icon-pm {
	@extend %icon-image-fa;
	&:after {
		content: '\f003';
	}
	&.non-zero:after {
		content: '\f0e0';
		color: #d31141;
	}
}
.icon-print {
	@extend %icon-image-fa;
	&:after {
		content: '\f02f';
	}
}
.icon-profile {
	@extend %icon-image-fa;
	&:after {
		content: '\f007';
	}
}
.icon-register{
	@extend %icon-image-fa;
	&:after {
		content: '\f234';
	}
}
.icon-search, .responsive-search a	{ @extend %icon-search-old; }
.icon-search-active			{ @extend %icon-search-old; }
.icon-search-advanced		{ @extend %icon-search-old; }
.icon-search-new			{ @extend %icon-search-new; }
.icon-search-self			{ @extend %icon-search-misc; }
.icon-search-unanswered		{ @extend %icon-search-new; }
.icon-search-unread			{ @extend %icon-search-new; }
.icon-sendemail {
	@extend %icon-image-fa;
	&:after {
		content: '\f003';
	}
}
.icon-subscribe {
	@extend %icon-image-fa;
	&:after {
		content: '\f05d';
	}
}
.icon-team {
	@extend %icon-image-fa;
	&:after {
		content: '\f007';
	}
	&:before {
		@extend .icon-team:after;
		display: block;
		font-size: 10px;
		padding: 0;
		white-space: nowrap;
		padding-top: 1px;
		opacity: .7;
		content: '\f007\f007';
	}
}
ul.linklist.bulletin > li.small-icon.icon-team:before { @extend .icon-team:before; }
.icon-ucp {
	@extend %icon-image-gi;
	&:after {
		content: '\E281';
	}
}
.icon-unsubscribe {
	@extend %icon-image-fa;
	&:after {
		content: '\f05c';
	}
}

/* Forum icons & Topic icons */
.global_read													{ background-image: url("./images/announce_read.png"); }
.global_read_mine												{ @extend .global_read; }
.global_read_locked												{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine										{ @extend .global_read_locked; }
.global_unread													{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine												{ @extend .global_unread; }
.global_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine										{ @extend .global_unread_locked; }

.announce_read													{ @extend .global_read; }
.announce_read_mine												{ @extend .global_read_mine; }
.announce_read_locked											{ @extend .global_read_locked; }
.announce_read_locked_mine										{ @extend .global_read_locked_mine; }
.announce_unread												{ @extend .global_unread; }
.announce_unread_mine											{ @extend .global_unread_mine; }
.announce_unread_locked											{ @extend .global_unread_locked; }
.announce_unread_locked_mine									{ @extend .global_unread_locked_mine; }

.forum_link														{ background-image: url("./images/forum_link.png"); }
.forum_read														{ background-image: url("./images/forum_read.png"); }
.forum_read_locked												{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum											{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread													{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked											{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum											{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read													{ @extend .topic_read; }
.sticky_read_mine												{ @extend .topic_read_mine; }
.sticky_read_locked												{ @extend .topic_read_locked; }
.sticky_read_locked_mine										{ @extend .topic_read_locked_mine; }
.sticky_unread													{ @extend .topic_unread; }
.sticky_unread_mine												{ @extend .topic_unread_mine; }
.sticky_unread_locked											{ @extend .topic_unread_locked; }
.sticky_unread_locked_mine										{ @extend .topic_unread_locked_mine; }

.topic_moved													{ background-image: url("./images/topic_moved.png"); }
.topic_read														{ background-image: url("./images/topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine											{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked												{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/topic_read_locked_mine.png"); }
.topic_unread,													{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/topic_unread_locked_mine.png"); }

.pm_read														{ @extend .topic_read; }
.pm_unread														{ @extend .topic_unread; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)
{
	.global_read, .global_read_locked, .global_unread, .global_unread_locked,
	.forum_link, .forum_read, .forum_read_locked, .forum_read_subforum, .forum_unread, .forum_unread_locked, .forum_unread_subforum,
	.topic_moved, .topic_read, .topic_read_mine, .topic_read_hot, .topic_read_hot_mine, .topic_read_locked, .topic_read_locked_mine,
	.topic_unread, .topic_unread_mine, .topic_unread_hot, .topic_unread_hot_mine, .topic_unread_locked, .topic_unread_locked_mine
	{
		background-size: 36px 36px;
	}

	.global_read												{ background-image: url("./images/announce_read_hd.png"); }
	.global_read_locked											{ background-image: url("./images/announce_read_locked_hd.png"); }
	.global_unread												{ background-image: url("./images/announce_unread_hd.png"); }
	.global_unread_locked										{ background-image: url("./images/announce_unread_locked_hd.png"); }

	.forum_link													{ background-image: url("./images/forum_link_hd.png"); }
	.forum_read													{ background-image: url("./images/forum_read_hd.png"); }
	.forum_read_locked											{ background-image: url("./images/forum_read_locked_hd.png"); }
	.forum_read_subforum										{ background-image: url("./images/forum_read_subforum_hd.png"); }
	.forum_unread												{ background-image: url("./images/forum_unread_hd.png"); }
	.forum_unread_locked										{ background-image: url("./images/forum_unread_locked_hd.png"); }
	.forum_unread_subforum										{ background-image: url("./images/forum_unread_subforum_hd.png"); }

	.topic_moved												{ background-image: url("./images/topic_moved_hd.png"); }
	.topic_read													{ background-image: url("./images/topic_read_hd.png"); }
	.topic_read_mine											{ background-image: url("./images/topic_read_mine_hd.png"); }
	.topic_read_hot												{ background-image: url("./images/topic_read_hot_hd.png"); }
	.topic_read_hot_mine										{ background-image: url("./images/topic_read_hot_mine_hd.png"); }
	.topic_read_locked											{ background-image: url("./images/topic_read_locked_hd.png"); }
	.topic_read_locked_mine										{ background-image: url("./images/topic_read_locked_mine_hd.png"); }
	.topic_unread												{ background-image: url("./images/topic_unread_hd.png"); }
	.topic_unread_mine											{ background-image: url("./images/topic_unread_mine_hd.png"); }
	.topic_unread_hot											{ background-image: url("./images/topic_unread_hot_hd.png"); }
	.topic_unread_hot_mine										{ background-image: url("./images/topic_unread_hot_mine_hd.png"); }
	.topic_unread_locked										{ background-image: url("./images/topic_unread_locked_hd.png"); }
	.topic_unread_locked_mine									{ background-image: url("./images/topic_unread_locked_mine_hd.png"); }
}

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, #cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border-top-color: #F9F9F9;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #000000;
}

.panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
	background: #BACCD9;
	color: #536482;
}

#tabs .tab > a:hover {
	background: #DDEDFB;
	color: #D31141;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	background: #CADCEB;
	background: -moz-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E2F2FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #E2F2FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #E2F2FF 0%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#CADCEB', GradientType=0 );
	border-color: #CADCEB;
	box-shadow: 0 1px 1px #F2F9FF inset;
	color: #333333;
}

#tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs .tab > a {
	background-color: #E1EBF2;
}

#minitabs .activetab > a,
#minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #333;
	background: #B4C4D1;
	background: -moz-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, #B4C4D1), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -o-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: -ms-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background: linear-gradient(to right, #B4C4D1 50%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4C4D1', endColorstr='#CADCEB', GradientType=1 );
}

.rtl #navigation a {
	background: #B4C4D1;
	background: -moz-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #CADCEB), color-stop(50%, #B4C4D1));
	background: -webkit-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -o-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: -ms-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background: linear-gradient(to right, #CADCEB 0%, #B4C4D1 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CADCEB', endColorstr='#B4C4D1', GradientType=1 );
}

#navigation a:hover {
	background: #AABAC6;
	color: #BC2A4D;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#navigation #active-subsection a {
	background: #F9F9F9;
	color: #D31141;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#navigation #active-subsection a:hover {
	color: #D31141;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #B2C2CF;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #F9F9F9;
}

#cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #eef5f9;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #425067;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border-color: #B4BAC0;
	color: #333333;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #11A3EA;
}

.inputbox:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #000;
	background-color: #FAFAFA;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #d2d2d2 1px, #efefef 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #d2d2d2 1px, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d2d2d2, endColorstr=#efefef);
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #BC2A4D;
	color: #BC2A4D;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

input.search {
	background-image: url("./images/icon_textbox_search.gif");
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}
.phpbb_alert .alert_close:before {
	color: #105289;
}
.phpbb_alert .alert_close:hover:before {
	color: #d31141;
}
.phpbb_alert .alert_close:after {
	color: #fff;
}
#darken {
	background-color: #000000;
}

#loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #CFE1F6;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background: #F1F8FF;
	background: -moz-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #F1F8FF 0%, #CADCEB 100%);
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #F1F8FF transparent;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	color: #105289;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	color: #D31141;
}

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #b9b9b9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #4C5D77;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}
