// Blank FontAwesome replacement
%imageset-glyph {
	position: relative;
	text-indent: 999px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 13px;
		line-height: 13px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
	}
}

%imageset-fa {
	@extend %imageset-glyph;
	&:after {
		font-family: FontAwesome;
	}
}

%imageset-gi {
	@extend %imageset-glyph;
	&:after {
		font-family: 'Glyphicons Regular', 'Glyphicons';
	}
}

%imageset-16 {
	width: 16px;
	height: 16px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -8px;
		height: 16px;
		font-size: 14px;
		line-height: 16px;
	}
}

%imageset-12 {
	width: 12px;
	height: 12px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -6px;
		height: 12px;
		font-size: 10px;
		line-height: 12px;
	}
}

%imageset-arrow {
	// For latest topic arrows
	width: 11px;
	height: 10px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -5px;
		height: 10px;
		font-size: 10px;
		line-height: 10px;
	}
}

/* Former imageset */
span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* Global imageset items */
.imageset.site_logo {
	background-image: url("./images/site_logo.gif");
	padding-left: 149px;
	padding-top: 52px;
}
.imageset.subforum_read {
	background-image: url("./images/subforum_read.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.subforum_unread {
	background-image: url("./images/subforum_unread.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.phpbb_aol-icon, .imageset.icon_contact_aim {
	background-image: url("./images/icon_contact_aim.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_email {
	background-image: url("./images/icon_contact_email.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_icq, .imageset.phpbb_icq-icon {
	background-image: url("./images/icon_contact_icq.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_jabber {
	background-image: url("./images/icon_contact_jabber.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.phpbb_wlm-icon, .imageset.icon_contact_msnm {
	background-image: url("./images/icon_contact_msnm.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_www, .imageset.phpbb_website-icon {
	background-image: url("./images/icon_contact_www.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_yahoo, .imageset.phpbb_yahoo-icon {
	background-image: url("./images/icon_contact_yahoo.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_delete {
	background-image: url("./images/icon_post_delete.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_info {
	background-image: url("./images/icon_post_info.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_report {
	background-image: url("./images/icon_post_report.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_target {
	@extend %imageset-fa;
	margin-top: -4px;
	top: 2px;
	width: 16px;
	height: 14px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -7px;
		height: 14px;
		font-size: 12px;
		line-height: 14px;
		content: '\f0e5';
		text-align: left;
		color: #105289;
	}
}
.imageset.icon_post_target_unread {
	@extend .imageset.icon_post_target;
	&:after {
		content: '\f075';
		color: #D31141;
	}
}
.imageset.icon_topic_attach {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E063';
		color: #808080;
	}
}
.imageset.icon_topic_latest {
	@extend %imageset-fa;
	@extend %imageset-arrow;
	&:after {
		content: '\f061';
	}
}
.imageset.icon_topic_newest {
	@extend .imageset.icon_topic_latest;
	&:after {
		color: #D31141;
	}
}
.imageset.icon_topic_reported {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f071';
		color: #D31141;
	}
}
.imageset.icon_topic_deleted {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f057';
		color: #D31141;
	}
}
.imageset.icon_topic_unapproved {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f059';
		color: #D31141;
	}
}
.imageset.icon_topic_poll {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E042';
		color: #098dcf;
	}
}
.imageset.icon_user_warn {
	background-image: url("./images/icon_user_warn.gif");
	padding-left: 20px;
	padding-top: 20px;
}

.imageset.icon_contact {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E188';
	}
	&:hover:after {
		content: '\E602';
	}
}

/* English images for fallback */
.imageset.icon_user_online {
	background-image: url("./en/icon_user_online.gif");
	padding-left: 58px;
	padding-top: 58px;
}
