// Blank FontAwesome replacement
%imageset-glyph {
	position: relative;
	text-indent: 999px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 13px;
		line-height: 13px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
	}
}

%imageset-fa {
	@extend %imageset-glyph;
	&:after {
		font-family: FontAwesome;
	}
}

%imageset-gi {
	@extend %imageset-glyph;
	&:after {
		font-family: 'Glyphicons Regular', 'Glyphicons';
	}
}

%imageset-16 {
	width: 16px;
	height: 16px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -8px;
		height: 16px;
		font-size: 14px;
		line-height: 16px;
	}
}

%imageset-12 {
	width: 12px;
	height: 12px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -6px;
		height: 12px;
		font-size: 10px;
		line-height: 12px;
	}
}

%imageset-arrow {
	// For latest topic arrows
	width: 11px;
	height: 10px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -5px;
		height: 10px;
		font-size: 10px;
		line-height: 10px;
	}
}

/* Former imageset */
span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* Global imageset items */
.imageset.site_logo {
	background-image: url("./images/site_logo.gif");
	padding-left: 149px;
	padding-top: 52px;
}
// .imageset.icon_post_target {
// 	@extend %imageset-fa;
// 	margin-top: -3px;
// 	top: 2px;
// 	width: 12px;
// 	height: 13px;
// 	&:after {
// 		top: 50%;
// 		bottom: auto;
// 		margin-top: -6px;
// 		height: 13px;
// 		font-size: 11px;
// 		line-height: 13px;
// 		content: '\f18e';	// fa-arrow-circle-o-right
// 		text-align: left;
// 	}
// 	.rtl &:after {
// 		content: '\f190';	// fa-arrow-circle-o-left
// 	}
// }
// .imageset.icon_post_target_unread {
// 	@extend .imageset.icon_post_target;
// 	&:after {
// 		color: #D31141;
// 		content: '\f0a9';	// fa-arrow-circle-right
// 	}
// 	.rtl &:after {
// 		content: '\f0a8';	// fa-arrow-circle-left
// 	}
// }
.imageset.icon_post_target {
	background-image: url("./images/icon_post_target.png");
	padding-left: 11px;
	padding-top: 9px;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/icon_post_target_hd.png");
		background-size: 11px 9px;
	}
}
.imageset.icon_post_target_unread {
	background-image: url("./images/icon_post_target_unread.png");
	padding-left: 11px;
	padding-top: 9px;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.5dppx)	{
		background-image: url("./images/icon_post_target_unread_hd.png");
		background-size: 11px 9px;
	}
}
.imageset.icon_topic_attach {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E063';	// glyphicons-paperclip
		color: #808080;
	}
}
.imageset.icon_topic_latest {
	@extend %imageset-fa;
	@extend %imageset-arrow;
	&:after {
		content: '\f061';	// fa-arrow-right
	}
}
.imageset.icon_topic_newest {
	@extend .imageset.icon_topic_latest;
	&:after {
		color: #D31141;
	}
}
.imageset.icon_topic_reported {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f071';	// fa-exclamation-triangle
		color: #D31141;
	}
}
.imageset.icon_topic_deleted {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f057';	// fa-times-circle
		color: #D31141;
	}
}
.imageset.icon_topic_unapproved {
	@extend %imageset-fa;
	@extend %imageset-16;
	&:after {
		content: '\f059';	// fa-question-circle
		color: #D31141;
	}
}
.imageset.icon_topic_poll {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E042';	// glyphicons-charts
		color: #098dcf;
	}
}

.imageset.icon_contact {
	@extend %imageset-gi;
	@extend %imageset-12;
	&:after {
		content: '\E188';	// glyphicons-more
	}
	&:hover:after {
		content: '\E602';	// glyphicons-chevron-down
	}
	.dropdown-up &:hover:after {
		content: '\E601';	// glyphicons-chevron-up
	}
}
