/* Former imageset */
span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* Global imageset items */
.imageset.site_logo {
	background-image: url("./images/site_logo.gif");
	padding-left: 149px;
	padding-top: 52px;
}
.imageset.subforum_read {
	background-image: url("./images/subforum_read.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.subforum_unread {
	background-image: url("./images/subforum_unread.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_back_top {
	background-image: url("./images/icon_back_top.gif");
	padding-left: 11px;
	padding-top: 11px;
}
.imageset.phpbb_aol-icon, .imageset.icon_contact_aim {
	background-image: url("./images/icon_contact_aim.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_email {
	background-image: url("./images/icon_contact_email.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_icq, .imageset.phpbb_icq-icon {
	background-image: url("./images/icon_contact_icq.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_jabber {
	background-image: url("./images/icon_contact_jabber.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.phpbb_wlm-icon, .imageset.icon_contact_msnm {
	background-image: url("./images/icon_contact_msnm.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_www, .imageset.phpbb_website-icon {
	background-image: url("./images/icon_contact_www.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_contact_yahoo, .imageset.phpbb_yahoo-icon {
	background-image: url("./images/icon_contact_yahoo.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_delete {
	background-image: url("./images/icon_post_delete.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_info {
	background-image: url("./images/icon_post_info.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_report {
	background-image: url("./images/icon_post_report.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_target {
	background-image: url("./images/icon_post_target.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_post_target_unread {
	background-image: url("./images/icon_post_target_unread.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_attach {
	background-image: url("./images/icon_topic_attach.gif");
	padding-left: 7px;
	padding-top: 10px;
}
.imageset.icon_topic_latest {
	background-image: url("./images/icon_topic_latest.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_newest {
	background-image: url("./images/icon_topic_newest.gif");
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_reported {
	background-image: url("./images/icon_topic_reported.gif");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_deleted {
	background-image: url("./images/icon_topic_deleted.png");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_unapproved {
	background-image: url("./images/icon_topic_unapproved.gif");
	padding-left: 16px;
	padding-top: 14px;
}
.imageset.icon_topic_poll {
	background-image: url("./images/icon_topic_poll.gif");
	padding-left: 11px;
	padding-top: 10px;
}
.imageset.icon_user_warn {
	background-image: url("./images/icon_user_warn.gif");
	padding-left: 20px;
	padding-top: 20px;
}

.imageset.icon_contact {
	background-image: url("./images/icon_contact.png");
	padding-left: 16px;
	padding-top: 12px;
}


/* English images for fallback */
.imageset.icon_user_online {
	background-image: url("./en/icon_user_online.gif");
	padding-left: 58px;
	padding-top: 58px;
}
